/*Move section 1 up*/
.section-up{
    margin-top:-15px;
    box-shadow: 300px 0px 0px 0px; 
}

/*Menu bar background color*/
.bg-clr{
    background-color:white;
    border:none;
}
/*To move logo to right and up*/
.logo{
    margin-left:250px;
    margin-top:-10px;
}
/*to move menu bar to right*/
.menu-bar{
    margin-left:400px;
   
}
/*To add effects to menu bar*/
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus{
    background-color: transparent;
    cursor:text;
    color:black;
    font-weight:bold;
}
/*To remove effects of dropdown menu button*/
.dropdown-css>button,
.dropdown-css>button:focus,
.dropdown-css>button:hover,
.dropdown-css>button:active{
    border:none !important;
    margin-top:10px !important;
    color:black !important;
    font-weight:bold !important;
    background-color: transparent!important;
    outline:none!important;
    background:none!important;
    box-shadow: none !important;
    
}

/*.dropdown-toggle[aria-expanded="true"],
.dropdown-toggle[aria-haspopup="true"]
{
    
    border:none !important;
    margin-top:10px !important;
    color:black !important;
    font-weight:bold !important;
    background-color: transparent!important;
}*/
.dropdown {
    position: relative;
    display: inline-block;
}
/*To add effects to dropdown list*/
.dropdown-list{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    outline:black;
    border-top: 2px solid grey;
    
}
/*Display arrow at the dropdown list*/
.arrow-up {
    width:0;
    height:0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid grey;
    margin-top:-13px;
    margin-left:20px;
  }
/*To make on hover dropdown*/
.dropdown:hover .dropdown-list {
    display: block;
}
/*To add effects to dropdown menu items*/
.dropdown-list>li>a{
    padding: .55rem 1.5rem;
}
/*to align the content to center and add bg color and pading*/
.content-align{
    margin:0 auto;
    text-align: center;
    background-color: rgb(243, 237, 237);
    padding:90px;
    
}
/* to add effects to h1 tag*/
.content-align h1{
    font-weight:600;
    padding:0 0 30px 0;
    color:black;
}
/*to add effects to p tag */
.content-align p{
    margin-top:-10px;
    font-size:18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*padding between buttons and text*/
.button-css {
    padding:30px 0px 0 10px;
}
/*uppercase and padding  for text of buttons*/
.button-css button {
    border-radius:0 0 0 0;
    padding:10px 25px 10px 25px;
    text-transform: uppercase;
}
/*effects to buttons*/
.button-css button:hover,
.button-css button:focus,
.button-css button:visited
 {
    background-color:transparent;
    color:#0073aa;
    border:2px solid #0073aa;
}
/*padding and sizing the image*/
.image-css img{
    padding:70px 0 0px 0;
    height:auto;
    width:80%;
    background-size: cover;
    margin-bottom:-87px;
}
.section-align{
    margin:0 auto;
    text-align: center;
    background-color: white;
    padding:70px;
}
.section-align h1{
    font-weight:600;
    font-size:30px;
    color:black;
    padding:0 0 30px 0;
}
/*to add effects to p tag */
.section-align p{
    margin-top:-10px;
    font-size:15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:grey;
}
/*to add effects to p tag */
.p-css{
    margin-top:-10px;
    color:grey;

}
/*second section alignment and padding*/
.section2-align{
    text-align:center;
    padding:50px 0 0 0;
    margin-right:300px;
    
   
}
/*image alignment and padding*/
.section2-align img{
     width:16%;
}
/*h3 tag alignment and padding*/
.section2-align h3{
    font-weight:bold;
    font-size:20px;
    padding:0 0 15px 0;
}
/*section3 effects*/
.section3-align{
  background-color:rgb(243, 237, 237);
  padding:110px 0 0 0; 
  
}
.imgsection-css {
    left:30%;
    position:relative;
}
.textsection-align h1{
    font-weight:600;
    color:black;
    padding:10px 0 0 0;
    text-align:left;
    margin-bottom:30px;
}
.p-align{
    margin-bottom:20px;
}
.textsection-align p{
    color:black;

}
.textsection-align button{
  margin-top:15px;
  border-radius:0 0 0 0;
  text-transform: uppercase;
  padding:10px 25px 10px 25px;
}
/*effects to buttons*/
.textsection-align button:hover,
.textsection-align button:focus,
.textsection-align button:visited
 {
    background-color:transparent;
    color:#0073aa;
    border:2px solid #0073aa;
}
